.logo img {
  height: 10vmin;
  width: 12vmin;
}

a.active hr {
  display: block;
}
.banner {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.main-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 10px;
}
.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0px;
  background-color: #808080;
  transition: all 0.3s ease;
}

.menu-open .bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-open .bar2 {
  opacity: 0;
}

.menu-open .bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Apply the slide-in effect */
.menu-open {
  animation: slide-in 1s forwards;
}

/* Apply the slide-out effect */
.menu-close {
  animation: slide-out 0.5s forwards;
}
