@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
body {
  font-family: "Noto Sans", serif;
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 14px; /* Adjust the width */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional: customize the track */
}
::-webkit-scrollbar-thumb {
  background: #888; /* Customize the scrollbar color */
  border-radius: 10px; /* Optional: round corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fed10f; /* Change color on hover */
}
:root {
  --black-color: #4e4d4d;
  --second-color: #fed10f;
  --hover-color: #808080;
  --white-color: #ffffff; /* Corrected white color */
}

.border-red {
  border: 1px solid red;
}
.border-yellow {
  border: 1px solid yellow;
}
.border-green {
  border: 1px solid green;
}
.text-small {
  font-size: 11px;
}
.text-middum {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}
.card-sm-title {
  font-size: 1rem;
  font-family: "Noto Sans", serif;

  line-height: 20.4px;
  vertical-align: baseline;
  letter-spacing: 2.16px;
  word-spacing: 0px;
}
.text-middum-extended {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}

/* this is for carasole section */
.card-title-fonts {
  font-size: 18.68px;
  line-height: 26px;
  word-spacing: 0px;
  letter-spacing: normal;
  font-family: "Noto Sans", serif;
}
.carasole-background {
  height: 30rem;
  background-image: url("./assets/backgroundImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.buttons {
  position: absolute;
  right: 120px;
  top: 10%;
}
.small-card {
  width: 170px;
  height: 320px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  right: 80px;
  bottom: 12%;
  transition: transform 0.5s ease, z-index 0.5s ease;
}

.small-card-img {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.small-card.img-1 {
  z-index: 2;
}

.small-card.img-2 {
  transform: rotate(-5deg);
  z-index: 1;
}

.card-flip .img-1 {
  transform: rotate(5deg);
  z-index: 1;
}

.card-flip .img-2 {
  transform: rotate(-5deg);
  z-index: 2;
}

/* this sections is for the text effect */
.text-effect-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.text-effect {
  display: flex;
  animation: scroll 35s linear infinite;
  gap: 20px;
  white-space: nowrap;
  align-items: center;
  animation-play-state: running;
}
.text-effect:hover {
  animation-play-state: paused;
}
.text-effect:hover .image-slider p {
  display: flex;
}
.text-effect-shop {
  margin: 0 20px;
  font-family: "Londrina Sketch", sans-serif;
  font-size: 10vmin;
  letter-spacing: 1vmin;
  word-spacing: 2vmin;
}

.text-effect-newArrivals {
  overflow: hidden;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 10vmin;
  letter-spacing: 1vmin;
  word-spacing: 2vmin;
}
.image-slider img {
  width: 120px;
  height: 15vmin;
  transition: opacity 3s ease-in-out;
}
.text-effect-shop,
.text-effect-newArrivals,
.image-slider {
  display: inline-block;
  flex-shrink: 0;
}
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* kids section home page */
.kidimg {
  height: 50vmin;
  width: 40vmin;
}
.kidimg-1 {
  /* position: absolute; */
  transform: rotate(15deg);
  right: 10%;
  z-index: 10;
  top: 80%;
}
.kidimg-2 {
  /* position: absolute;  */
  left: 10%;
  top: 80%;
  transform: rotate(-15deg);
}
.imagination-fonts {
  line-height: 20.4px;
  vertical-align: baseline;
  letter-spacing: 2.16px;
  word-spacing: 0px;
}
.wonderland-fonts {
  line-height: 33px;
  font-size: 22px;
  font-weight: 500;
  vertical-align: baseline;
  letter-spacing: 3.96px;
  text-transform: uppercase;
  word-spacing: 0px;
}
.wonderland-small-fonts {
  line-height: 23.8px;
  vertical-align: baseline;
  letter-spacing: 2.52px;
  word-spacing: 0px;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel-item {
  /* flex: 0 0 auto; */
  transition: transform 0.5s ease-in-out;
}

.slide-next {
  /* transform: translateX(-100%); */
  animation: hideandShow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slide-prev {
  animation: hideandShow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* transform: translateX(100%); */
}
@keyframes hideandShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* kids section home page */
