/* react tostify  */
/* customToast.css */
/* 
.Toastify__toast--info {
  background-color: #17a2b8;
  color: #fff;
}

.Toastify__toast--success {
  background-color: #f6eef0;
  color: #2809d2;
}

.Toastify__toast--error {
  background-color: #f08993 !important;
  color: #fff;
}

.Toastify__toast--warning {
  background-color: #ffc107;
  color: #212529;
} */

/* react tostify  */
